* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Arial', sans-serif;
    overflow: hidden;
}

.background {
    background: radial-gradient(circle, rgba(10, 10, 30, 1) 0%, rgba(0, 0, 0, 1) 100%);
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.content {
    text-align: center;
    z-index: 2;
}

.title {
    text-align: center;
    margin-bottom: 120px;
}

.letra {
    display: inline-block;
    font-family: 'Audiowide', cursive;
    font-size: 2em;
    color: #fff;
    text-shadow:
        0 0 5px #0ff,
        0 0 10px #0ff,
        0 0 20px #0ff,
        0 0 40px #09f,
        0 0 60px #09f,
        0 0 80px #09f;
    animation: temblar 0.6s infinite linear, cambio_color 2.3s infinite alternate ease-in-out;
}

@keyframes temblar {
    0% { 
        transform: translate(0px, 0px); 
    } 20% { 
        transform: translate(-1px, 1px); 
    } 40% { 
        transform: translate(-1px, -1px); 
    } 60% { 
        transform: translate(1px, 1px); 
    } 80% { 
        transform: translate(1px, -1px); 
    } 100% { 
        transform: translate(0px, 0px); 
    }
}

@keyframes cambio_color {
    0% {
        text-shadow:
            0 0 5px #f0f,
            0 0 10px #f0f,
            0 0 20px #0ff,
            0 0 40px #0ff,
            0 0 60px #0ff;
    }
    100% {
        text-shadow:
            0 0 10px #ff0,
            0 0 20px #f0f,
            0 0 30px #f0f,
            0 0 60px #f0f,
            0 0 80px #f0f;
    }
}

.title div {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.cuadrados-container {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    gap: 120px;
    z-index: 2;
}

.cuadrado-link {
    text-decoration: none;
}

.cuadrado {
    width: 400px;
    height: auto;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    margin: 0 20px;
    border: 3px solid #fff;
    animation: cuadrado 2s infinite alternate;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.cuadrado img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 16px;
    transition: transform 0.3s ease-in-out;
}

.cuadrado:hover img {
    transform: scale(1.1);
}

.cuadrado:hover {
    transform: scale(1.2);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.6), 0 0 25px rgba(255, 255, 255, 0.3);
    cursor: pointer;
}


@keyframes cuadrado {
    0% {
        border-color: #3498db;
        transform: scale(1);
    }
    50% {
        border-color: #9b59b6;
        transform: scale(1.1);
    }
    100% {
        border-color: #2ecc71;
        transform: scale(1);
    }
}

.cuadrado:hover {
    transform: scale(1.2);
    box-shadow: 0 0 80px rgba(255, 255, 255, 0.6), 0 0 150px rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
