* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

body {
    font-family: 'Georgia', serif;
    background-color: #e7e7e7;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 2em 0;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    border-bottom: 4px solid #222;
}

main {
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

h2 {
    color: rgb(88, 88, 190);
}

.academias-container, .cuerpos-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 1rem;
}

.academia, .cuerpo, .title {
    width: 100%;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px;
    padding: 20px;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

.name {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.name img {
    width: 3rem;
}

.description {
    display: none;
}

.description.active {
    padding: 1rem 20%;
    background: rgb(197, 193, 193);
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: -1rem;
}

footer {
    width: 100%;
    background: rgb(88, 88, 190);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

footer .social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

footer .social a {
    font-size: 25px;
    color: grey;
    background-color: white;
    border: 2px solid black;
    width: 42px;
    height: 42px;
    line-height: 42px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    cursor: pointer;
    transition: 0.3 ease;
}

footer .social a.yt:hover {
    color: white;
    background: red;
}

footer .social a.tk:hover {
    color: white;
    background: black;
}

footer .social a.ig:hover {
    color: white;
    background: rgb(231, 120, 138);
}

footer .copyright {
    color: white;
    font-size: 16px;
}

footer .creador-web {
    margin-bottom: 3rem;
    text-align: center;
}

footer .creador-web a {
    font-size: 16px;
    border: 2px solid white;
    background: transparent;
    color: white;
    border-radius: 1.5rem;
    padding: 10px;
    text-align: center;
    transition: 0.3s ease;
}

footer .creador-web a:hover {
    transform: scale(1.2);
    background: white;
    color: rgb(88, 88, 190);
}

footer .others a {
    margin-top: 1.8rem;
    border: 2px solid var(--light-bg-color);
    background: var(--light-main-color);
    color: var(--light-bg-color);
    border-radius: 1.5rem;
    padding: 10px;
    text-align: center;
    transition: 0.3s ease;
}

footer .others a:hover {
    transform: scale(1.2);
    background: var(--light-bg-color);
    color: var(--light-main-color);
}