body {
    font-family: 'Georgia', serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    border-bottom: 4px solid #222;
}

main {
    padding: 2em;
}

.news-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
}

.news-item {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 2em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'Times New Roman', Times, serif;
}

.news-item h2 {
    font-size: 2em;
    margin-top: 0;
    border-bottom: 1px solid #ddd;
    padding-bottom: 0.5em;
    font-weight: bold;
}

.news-item p {
    font-size: 1.2em;
    line-height: 1.6;
    text-align: justify;
}

.news-item .news-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
}

.news-item .date {
    font-size: 0.9em;
    color: #555;
    font-style: italic;
}

.news-item .news-link {
    display: inline-block;
    padding: 0.5em 1em;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.news-item .news-link:hover {
    background-color: #555;
}

@media (max-width: 768px) {
    .news-container {
        grid-template-columns: 1fr;
    }
}

::-webkit-scrollbar {
    width: 12px;
    background: rgb(230, 213, 213);
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

::-webkit-scrollbar {
    opacity: 100;
}