@import url('https://fonts.googgleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

html {
    font-size: 60%;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

body {
    background-image: url('https://i.pinimg.com/originals/f7/4c/e6/f74ce6007b53858d32503641f6dd88ba.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 20% 1rem;
    background: rgb(88, 88, 190);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}

.header a img {
    width: 10rem;
    transform: rotate(0deg) scale(1.1);
    cursor: pointer;
    transition: all 0.3s ease;
}

.header a img:hover {
    transform: rotate(360deg) scale(1.2); 
}

nav {
    background: transparent;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

nav a {
    font-size: 2rem;
    color: white;
    background: transparent;
    font-weight: 500;
    border-bottom: none;
    text-decoration: none;
    position: relative;
}

nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.5s ease;
}

nav a:hover::after,
nav a.active::after {
    width: 100%;
}

@keyframes underlineAnimation {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.home {
    margin-top: 16rem;
}

.content {
    width: 100%;
    background: white;
    border-radius: 2rem;
    border: none;
    padding: 1rem 2.8rem;
    box-shadow: 0 0 25px black;
}

.content p {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.contact, .discord {
    margin-bottom: 5rem;
}

.contact-button {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: rgb(88, 88, 190);
    box-shadow: 0 0 25px black;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: white;
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    font-weight: 600;
    margin-top: 2.3rem;
    margin-bottom: 2.3rem;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.contact-button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 50px black;
}

.escudo {
    width: 25rem;
    margin-top: -6rem;
    margin-bottom: -3rem;
}

.bandera {
    width: 100%;
    height: 10rem;
    display: flex;
}

.blue {
    background: blue;
    width: calc(100% / 3);
    height: 10rem;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
    border-left: 4px solid black;
}

.yellow {
    background: yellow;
    width: calc(100% / 3);
    height: 10rem;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
}

.red {
    background: red;
    width: calc(100% / 3);
    height: 10rem;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
    border-right: 4px solid black;
}

footer {
    width: 100%;
    background: rgb(88, 88, 190);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

footer .social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

footer .social a {
    font-size: 25px;
    color: grey;
    background-color: white;
    border: 2px solid black;
    width: 42px;
    height: 42px;
    line-height: 42px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    cursor: pointer;
    transition: 0.3 ease;
}

footer .social a.yt:hover {
    color: white;
    background: red;
}

footer .social a.tk:hover {
    color: white;
    background: black;
}

footer .social a.ig:hover {
    color: white;
    background: rgb(231, 120, 138);
}

footer .copyright {
    color: white;
    font-size: 16px;
}

form {
    max-width: 70rem;
    margin: 1rem auto;
    margin-bottom: 3rem;
    text-align: center;
}

form .input-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: black;
    background: transparent;
    border-radius: 0.8rem;
    border: 2px solid rgb(88, 88, 190);
    margin: 1rem 0;
    resize: none;
}

form .btn {
    margin-top: 2rem;
}

form textarea {
    box-shadow: none;
    transition: 0.2s ease;
}

form textarea:focus {
    box-shadow: 0 0 15px rgb(88, 88, 190);
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.discord .content div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.discord-img {
    width: 15rem;
    /* margin-top: -6rem;
    margin-bottom: -3rem; */
    margin-top: -2rem;
    border-radius: 2rem;
}







section {
    padding: 0 20% 0;
    z-index: 3;
    margin-top: 6rem;
}

.section-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

span {
    color: rgb(88, 88, 190);
}

.bold {
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

.no-blue {
    color: black;
}

.heading {
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 0.7rem;
    text-decoration: underline rgb(88, 88, 190);
}

.delimitador {
    top: 0;
    width: 100%;
    max-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

::-webkit-scrollbar {
    width: 12px;
    background: rgb(230, 213, 213);
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

::-webkit-scrollbar {
    opacity: 100;
}