@media screen and (max-width: 1200px) {
    @import url('https://fonts.googgleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

    html {
        font-size: 60%;
        overflow-x: hidden;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
        border: none;
        outline: none;
        scroll-behavior: smooth;
        font-family: "Poppins", sans-serif;
    }

    :root {
        --bg-color: #080808;
        --second-bg-color: #131313;
        --text-color: white;
        --main-color: #00ffee;
    }

    /* HEADER */
    .header {
        display: none;
    }

    .mobile-header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 4rem 12% 4rem;
        background: rgba(0, 0, 0, 0.7);
        filter: drop-shadow(10px);
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 5;
    }

    #menu-icon {
        font-size: 3.6em;
        color: var(--main-color);
        cursor: pointer;
    }

    .menu-links {
        display: none;
        position: absolute;
        padding: 40px;
        top: 100%;
        right: 0;
        background-color: var(--second-bg-color);
        width: fit-content;
        max-height: 0;
        overflow: hidden;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        border-top: 2px solid var(--main-color);
        border-bottom: 2px solid var(--main-color);
        border-left: 2px solid var(--main-color);
        transition: all 0.3s ease-in-out;
    }

    .menu-links.active {
        display: block;
        background-color: var(--second-bg-color);
        max-height: 280px;
    }

    .menu-links a {
        display: block;
        padding: 10px;
        text-align: center;
        font-size: 1.5rem;
        color: var(--text-color);
        text-decoration: none;
        transition: all 0.3s ease-in-out;
    }

    .menu-links a:hover, .menu-links a.active {
        color: var(--main-color);
    }

    .menu-links li {
        list-style: none;
    }

    @keyframes words {
        0%, 20% {
            content: 'Frontend Dev';
        }
    
        21%, 40% {
            content: 'UI Designer';
        }
    
        41%, 60% {
            content: 'Backend Dev';
        }
    
        61%, 80% {
            content: 'Python Coder';
        }
    
        81%, 100% {
            content: 'Web Developer';
        }
    }


    /* HOME */
    .home {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        gap: 15rem;
    }

    .home-img {
        margin-top: 40px;
    }

    .home-img img {
        width: 72vw;
    }


    /* PROJECTS */
}