* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #262626;
}

.center {
    top: 50%;
    left: 50%;
    display: flex;
    transform: translate(-50%, -50%);
    justify-content: center;
    text-align: center;
    position: relative;
    margin-top: -50px;
}

.form {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
}

.title {
    width: 100%;
    margin-top: 10px;
    text-align: center;
}

h2 {
    color: white;
}

button {
    padding: 20px;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.5s;
}

.a {
    background-color: rgb(37, 194, 194);
}

.b {
    background-color: #b288d8;
}

.c {
    background-color: #f9a7b0;
}

.d {
    background-color: #FFCC80;
}

.co.solution {
    background-color: #a2d39c;
}

.in.solution {
    background-color: #ff9999;
}

.siguiente {
    background-color: rgb(104, 104, 238);
    display: none;
}




/* APARTADO DE PREGUNTAS */
.panel {
    height: 100vh;
}