@media screen and (max-width: 1200px) {
    @import url('https://fonts.googgleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

    html {
        font-size: 50%;
        overflow-x: hidden;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
        border: none;
        outline: none;
        scroll-behavior: smooth;
        font-family: "Poppins", sans-serif;
    }

    :root {
        /* backgrounds colors */
        --dark-bg-color: #202040;
        --dark-second-bg-color: #373856;
        --light-bg-color: #D8D8F6;
        --light-second-bg-color: #b7b8d6;
    
        /* main colors */
        --dark-main-color: #8a7bbf;
        --light-main-color: #494850;
    
        /* second colors */
        --dark-second-main-color: #5e5d71;
        --light-second-main-color: #2C2C34;
    
        /* projects */
        --project-1-dark-bg-color: ;
        --project-2-dark-bg-color: ;
        --project-3-dark-bg-color: ;
        --project-1-light-bg-color: ;
        --project-2-light-bg-color: ;
        --project-3-light-bg-color: ; 
    }

    .mobile {
        display: block;
    }


    /* HEADER */
    .header {
        display: none;
    }

    .mobile-header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 4rem 12% 4rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 5;
    }

    #menu-icon {
        font-size: 3.6em;
        color: var(--light-main-color);
        cursor: pointer;
    }

    .menu-links {
        display: none;
        position: absolute;
        padding: 40px;
        top: 100%;
        right: 0;
        background-color: var(--light-second-bg-color);
        width: fit-content;
        max-height: 0;
        overflow: hidden;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        border-top: 2px solid var(--light-main-color);
        border-bottom: 2px solid var(--light-main-color);
        border-left: 2px solid var(--light-main-color);
        transition: all 0.3s ease-in-out;
    }

    .menu-links.active {
        display: block;
        background-color: var(--light-second-bg-color);
        max-height: 280px;
    }

    .menu-links.active {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .menu-links a {
        display: block;
        padding: 10px;
        text-align: center;
        font-size: 1.5rem;
        color: white;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
    }

    .menu-links a:hover, .menu-links a.active {
        color: var(--light-main-color);
    }

    .menu-links li {
        list-style: none;
    }

    @keyframes words {
        0%, 20% {
            content: 'Frontend Dev';
        }
    
        21%, 40% {
            content: 'UI Designer';
        }
    
        41%, 60% {
            content: 'Backend Dev';
        }
    
        61%, 80% {
            content: 'Python Coder';
        }
    
        81%, 100% {
            content: 'Web Developer';
        }
    }

    .short-description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 3rem;
    }
    
    .short-description p {
        font-size: 1.7rem;
        color: var(--light-main-color);
        font-family: 'Poppins' sans-serif;
    }


    /* HIRE SERVICE CONFIGURATION */
    .box {
        width: 80%;
    }


    /* OTHER CONFIGURATION */
    .about-img {
        display: none;
    }

    section {
        padding: 10rem 12% 10rem;
    }

    .no-mobile {
        display: none;
    }

    .column {
        display: flex;
        flex-direction: column;
    }
}