@media screen and (max-width: 1200px) {
    @import url('https://fonts.googgleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

    html {
        font-size: 50%;
        overflow-x: hidden;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
        border: none;
        outline: none;
        scroll-behavior: smooth;
        font-family: "Poppins", sans-serif;
    }

    :root {
        --bg-color: #1C1C1C;
        --bg-color-second: #2F2F2F;
    
        --hl-1-color: #87CEEB;
        --hl-2-color: #77DD77;
        --hl-5-color: #FDFD96;
        --hl-3-color: #C9A0DC;
        --hl-4-color: #FFB347;
    
        --md-1-color: #87CEEB;
        --md-2-color: #77DD77;
        --md-5-color: #FDFD96;
        --md-3-color: #C9A0DC;
        --md-4-color: #FFB347;
        
        --bg-color-light: #FFF0F5;
        --bg-color-second-light: #FFFFFF;
    
        --hl-1-color-light: #87CEEB;
        --hl-2-color-light: #32CD32;
        --hl-5-color-light: #FFD700;
        --hl-3-color-light: #BA55D3;
        --hl-4-color-light: #FF8C00;
    
        --md-1-color-light: #87CEEB;
        --md-2-color-light: #32CD32;
        --md-5-color-light: #FFD700;
        --md-3-color-light: #BA55D3;
        --md-4-color-light: #FF8C00;    
    }

    section {
        padding: 10rem 12% 10rem;
    }

    .config.active {
        top: 10px;
        right: 20px;
    }

    .tl.active {
        margin-right: 5px;
    }

    .no-mobile {
        visibility: none;
        display: none;
    }
}