@media screen and (max-width: 1200px) {
    html {
        font-size: 50%;
        overflow-x: hidden;
    }


    .mobile {
        margin-top: 3rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-img {
        display: none;
    }
}