body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.root {
    width: 100%;
    height: 100vh;
    background: url('../assets/wallpapers/wallpaper4.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background-color: brown; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.349);
    color: black;
    display: flex;
    justify-content: space-between;
    backdrop-filter: blur(25px);
}

.header {
    width: 100%;
    background-color: transparent;
    color: transparent;
    display: flex;
    text-align: left;
}

.left, .right {
    display: flex;
    gap: 7px;
}

.left {
    margin-left: 20px;
}

.right {
    margin-right: 15px;
    padding: 5px;
    gap: 15px;
    font-size: 14px;
}

/* ---------------------------- */
.apple-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.apple-logo img {
    width: 20px;
    height: 20px;
    margin-top: -1px;
}
/* ---------------------------- */

.left button:hover {
    background-color: rgba(255, 255, 255, 0.493);
    border-radius: 7px;
}

.left button {
    transition: background-color 0.5s;
    border: none;
    background-color: transparent;
    padding: 5px;
    color: black;
}

.options-header-button {
    background-color: rgba(255, 255, 255, 0.349);
    border-radius: 7px;
    border: 1px solid silver;
    padding: 5px;
    width: 150px;
    margin-left: 55px;
    align-items: left;
    backdrop-filter: blur(25px);
    display: none;
    place-items: left;
    margin-top: 0.5px;
    text-align: left;
}

.normal, .no-accesible {
    border: none;
    background-color: transparent;
    color: black;
    width: 100%;
    margin-top: 3px;
    margin-bottom: 3px;
}

.underline {
    width: 100%;
    border: none;
    border-bottom: 1px solid silver;
    margin-top: -100px;
}

.normal {
    color: black;
}

.no-accesible {
    color: silver;
}

.normal:hover, .normal1:hover {
    background-color: rgba(5, 174, 196, 0.705);
    border-radius: 5px;
}

/* ----------------------------------------------------------- */
.fil {
    left: 0;
    margin-left: 110px;
}

.ed {
    left: 0;
    margin-left: 150px;
}

.vi {
    left: 0;
    margin-left: 190px;
}

.g {
    left: 0;
    margin-left: 235px;
}

.win {
    left: 0;
    margin-left: 270px;
}

.hel {
    left: 0;
    margin-left: 333px;
}
/* ----------------------------------------------------------- */

footer {
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
}

footer div {
    display: flex;
    gap: 10px;
    left: 50%;
    transform: translateX(50%);
    background-color: rgba(255, 255, 255, 0.349);
    backdrop-filter: blur(25px);
    padding: 10px;
    border-radius: 25px;
    transition: gap 0.4s;
}

footer img {
    width: 60px;
    height: 60px;
    transition: transform 0.1s;
}

footer img:hover {
    cursor: pointer;
    transform: scale(1.2) translateY(-30px);
}

footer img:active {
    animation: special-click 0.6s ease;
}

.img-special-hover-efect {
    transform: scale(1.1) translateY(-15px);
}

@keyframes special-click {
    25%, 75% {
      transform: translateY(-60px);
    }
    50% {
      transform: translateY(-70px);
    }
    100% {
      transform: translateY(-30px);
    }
}

section {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 12px;
    /* padding: 20px; */
    width: fit-content;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-top: 50px;
    margin-left: 80px;
    position: absolute;
}

.navbar {
    width: 100%;
    /* height: 30px; */
    padding: 7px;
    border-radius: 12px;
    background-color: transparent;
    display: flex;
    justify-content: left;
    text-align: left;
    gap: 10px;
    cursor: pointer;
}

.options {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.galery-content {
    margin-top: 10px;
    margin-bottom: 40px;
    display: flex;
    gap: 10px;
}

.galery-content img {
    height: 80px;
    width: 80px;
    border-radius: 15px;
}

.galery-section {
    display: none;
    height: 50%;
    margin-left: 50%;
}

.calculator-section {
    display: none;
}

.content {
    padding: 20px;
}

.result {
    backdrop-filter: blur(25px);
    width: 100%;
    text-align: right;
    font-size: 30px;
    color: black;
}

.calculator-section .content2 div {
    display: flex;
}

.calculator-section .content2 div button {
    width: 60px;
    height: 70px;
    background-color: #a1a1a1;
    font-size: 20px;
    color: white;
}

.calculator-section {
    padding: 0;
    overflow-y: hidden;
}

.calculator-section .content2 div button.special {
    width: 120px;
}

.calculator-section .content2 div button.orange {
    background-color: orange;
}

.calculator-section .content2 div button.gray {
    background-color: gray;
}

.safary-section {
    overflow-y: hidden;
    background-color: transparent;
    margin-left: 20%;
    display: none;
}

.browser {
    margin: 50px auto;
    border: 16px solid #d2d2d7;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.navbar {
    background-color: #f8f8f8;
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 0;
}

.button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 8px;
}

.search-input {
    flex: 1;
    margin: 0 10px;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

.go {
    width: 20px;
    height: 20px;
    background-color: #007aff;
    margin-right: 25px;
}

.browser-content {
    height: calc(100% - 40px);
    background-color: #fff;
    overflow: auto;
    padding: 20px;
    display: flex;
    flex-direction: center;
    justify-content: center;
}

.notice-safary {
    border-radius: 14px;
    border: 10px solid #d2d2d7;
    padding: 7px;
    margin-top: 20px;
}

.notice-title {
    font-weight: bold;
    border: 0;
    border-bottom: 1px solid silver;
    padding-top: 5px;
    padding-bottom: 7px;
}


/* ---------------------------------------------------------- */
.active {
    display: block;
}

section::-webkit-scrollbar {
    width: 12px;
}

section::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

section::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 6px;
}

section::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}
/* ---------------------------------------------------------- */