@import url('https://fonts.googgleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

html {
    font-size: 60%;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

:root {
    /* backgrounds colors */
    --dark-bg-color: ; /* 502274 */
    --dark-second-bg-color: ; /* A42CD6 */
    --light-bg-color: #D8D8F6;
    --light-second-bg-color: #b7b8d6;

    /* main colors */
    --dark-main-color: ;
    --light-main-color: #494850;

    /* second colors */
    --dark-second-main-color: ;
    --light-second-main-color: #2C2C34;

    /* projects */
    --project-1-dark-bg-color: ;
    --project-2-dark-bg-color: ;
    --project-3-dark-bg-color: ;
    --project-1-light-bg-color: ;
    --project-2-light-bg-color: ;
    --project-3-light-bg-color: ; 
}

body {
    background: var(--light-bg-color);
    color: white;
    transition: all 0.3s ease-in-out;
}


/* HEADER */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 4rem 20% 4rem;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}

.logo {
    font-size: 2rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;
}

.logo:hover, .logo span:hover {
    transform: scale(1.1);
    text-shadow: 0 0 25px var(--light-main-color);
}

nav {
    background: var(--light-bg-color);
    border: 2px solid silver;
    border-radius: 25px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

nav a {
    font-size: 1.7rem;
    color: var(--light-main-color);
    background: transparent;
    border-radius: 25px;
    border: none;
    padding: 10px;
    font-weight: 500;
    transition: 0.3s ease;
}

nav a:hover, nav a.active {
    background: white;
}

.theme {
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    cursor: pointer;
    background: var(--light-bg-color);
    border: 2px solid silver;
    border-radius: 25px;
    padding: 5px;
    transition: all 0.3s ease-in-out;
}

.theme:hover {
    transform: scale(1.1);
    text-shadow: 0 0 25px var(--light-main-color);
}

.theme i {
    font-size: 2rem;
    color: var(--light-main-color);
}

.theme.active {
    display: block;
}

.language-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    background: var(--light-bg-color);
    border: 2px solid silver;
    border-radius: 25px;
    padding: 5px;
    transition: all 0.3s ease-in-out;
}

.language-container:hover {
    transform: scale(1.1);
    text-shadow: 0 0 25px var(--light-main-color);
}

.language.active {
    display: block;
    font-size: 1.7rem;
    color: var(--light-main-color);
}

.language {
    display: none;
}

.mobile-header {
    display: none;
}


/* HOME SECTION */
.home-content {
    margin-top: 6rem;
}

.home-content h2 {
    background: linear-gradient(to right, silver, black);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent
}

.location {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.location div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.location p, .location ion-icon {
    font-size: 1.5rem;
    margin-right: 5px;
    color: var(--light-main-color);
    cursor: default;
    font-weight: bold;
}

.short-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 3rem;
}

.short-description p {
    text-align: center;
    font-size: 1.7rem;
    color: var(--light-main-color);
    font-family: 'Poppins' sans-serif;
}


/* ABOUT ME SECTION */
.about {
    background: var(--light-second-bg-color);
}

.about-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 15rem;
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    justify-content: center;
    margin-top: 3rem;
}

.about-content h3 {
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 3.5rem;
}

.about-content h1 {
    font-size: 7rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
}

.about-img {
    border-radius: 50%;
}

.about-img img {
    position: relative;
    top: 3rem;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--light-main-color);
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.about-img img:hover {
    box-shadow: 0 0 25px var(--light-main-color), 0 0 50px var(--light-main-color), 0 0 100px var(--light-main-color);
}

.about-content p {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8;
    max-width: 1000px;
}

.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    background: transparent;
    border: 2px solid var(--light-main-color);
    font-size: 2.5rem;
    border-radius: 50%;
    color: var(--light-main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease-in-out;
}

.social-icons a:hover {
    color: var(--text-color);
    transform: scale(1.3) translateY(-5px);
    box-shadow: 0 0 25px var(--light-main-color);
    background-color: var(--light-main-color);
}

.btn-group {
    display: block;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.btn-group a {
    background-color: var(--light-main-color);
    color: var(--light-bg-color);
    border: 2px solid var(--light-main-color);
    box-shadow: 0 0 25px transparent;
}

.btn-group a:hover {
    box-shadow: 0 0 25px var(--light-main-color);
    background-color: var(--light-main-color);
}

.text-animation {
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.text-animation span {
    position: relative;
}

.text-animation span::before {
    content: 'Web Developer';
    color: var(--light-main-color);
    animation: words 20s infinite;
}

.text-animation span::after {
    content: '';
    background-color: var(--light-second-bg-color);
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid var(--light-second-bg-color);
    right: -8px;
    animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
    to {
        border-left: 2px solid var(--light-main-color);
    }
}

@keyframes words {
    0%, 20% {
        content: 'Frontend Developer';
    }

    21%, 40% {
        content: 'UI Designer';
    }

    41%, 60% {
        content: 'Backend Developer';
    }

    61%, 80% {
        content: 'Python Coder';
    }

    81%, 100% {
        content: 'Web Developer';
    }
}

@keyframes typing {
    10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95% {
        width: 0;
    }

    5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85%, 100% {
        width: calc(100% + 8px);
    }
}

.work {
    display: flex;
    justify-content: center;
    align-items: center;
}

.work div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

.circle {
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    background: rgb(27, 221, 27);
    box-shadow: none;
    box-shadow: 0 0 15px rgb(27, 221, 27);
}

.work div p {
    font-size: 1.5rem;
    margin-right: 5px;
    color: var(--light-main-color);
    cursor: default;
    font-weight: bold;
}


/* PROJECTS SECTION */


/* SERVICES SECTION */
.services {
    background: var(--light-second-bg-color);
}

.services-container {
    width: fit-content;
    margin-top: 6rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.services-container .box {
    position: relative;
    width: 350px;
    padding: 40px;
    background: white;
    color: var(--light-main-color);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
    border-radius: 4px;
    margin: 5px;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
}

.services-container .box:before {
    content: '';
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, .2);
    pointer-events: none;
    z-index: 2;
}

.services-container .box .number {
    position: relative;
    width: 80px;
    height: 80px;
    color: white;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 50%;
    font-size: 40px;
    font-weight: 700;
    transition: 1s;
}

.services-container .box:nth-child(1) .number {
    box-shadow: 0 0 0 0 #2196f3;
    background: #2196f3;
}

.services-container.services-container .box:nth-child(1):hover .number {
    box-shadow: 0 0 0 400px #2196f3;
}

.services-container .box:nth-child(2) .number {
    box-shadow: 0 0 0 0 #23e629;
    background: #23e629;
}

.services-container .box:nth-child(2):hover .number {
    box-shadow: 0 0 0 400px #23e629;
}

.services-container .box:nth-child(3) .number {
    box-shadow: 0 0 0 0 #e91e63;
    background: #e91e63;
}

.services-container .box:nth-child(3):hover .number {
    box-shadow: 0 0 0 400px #e91e63;
}

.services-container .box .content {
    position: relative;
    z-index: 1;
    transition: 0.5s;
}

.services-container .box:hover .content {
    color: #fff;
}

.services-container .box .content h3 {
    font-size: 20px;
    margin: 10px 0;
    padding: 0;
}

.services-container .box .content p {
    font-size: 1.7rem;
    margin: 0;
    padding: 0;
    text-align: left;
}

.services-container .box .content a {
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    border-radius: 4px;
    text-decoration: none;
    color: #000;
    font-size: 1.6rem;
    font-weight: 500;
    margin-top: 20px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}


/* CONTACT SECTION */
.contact h2 {
    margin-bottom: 3rem;
    color: white;
}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    margin-bottom: 3rem;
    text-align: center;
}

.contact form .input-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact form .input-box input, .contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: black;
    background: transparent;
    border-radius: 0.8rem;
    border: 2px solid var(--light-main-color);
    margin: 1rem 0;
    resize: none;
}

.contact form .btn {
    margin-top: 2rem;
}

.contact form .input-box input, .contact form textarea {
    box-shadow: none;
    transition: 0.2s ease;
}

.contact form .input-box input:focus, .contact form textarea:focus {
    box-shadow: 0 0 15px var(--light-main-color);
}


/* FOOTER SECTION */
.footer {
    position: relative;
    width: 100%;
    padding: 40px 0;
    bottom: 0;
    background: var(--light-main-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: var(--light-bg-color);
}

.footer .social a {
    font-size: 25px;
    color: var(--light-bg-color);
    border: 2px solid var(--light-bg-color);
    width: 42px;
    height: 42px;
    line-height: 42px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    transition: 0.3s ease;
}

.footer .social a:hover {
    transform: scale(1.2) translateY(-5px);
    background: var(--light-bg-color);
    color: var(--light-main-color);
}

.footer ul {
    margin-top: 0;
    padding: 0;
    line-height: 1.8rem;
    font-size: 18px;
    margin-bottom: 2.5rem;
    text-align: center;
}

.footer ul li a {
    color: var(--light-bg-color);
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}

.footer ul li a:hover {
    border-bottom: 3px solid var(--light-bg-color);
}

.footer ul li {
    display: inline-block;
    padding: 0 15px;
}

.footer .others {
    margin-top: 1.8rem;
    padding: 0;
    line-height: 1.8rem;
    font-size: 18px;
    margin-bottom: 0;
    text-align: center;
}

.footer .others a {
    margin-top: 1.8rem;
    border: 2px solid var(--light-bg-color);
    background: var(--light-main-color);
    color: var(--light-bg-color);
    border-radius: 1.5rem;
    padding: 10px;
    text-align: center;
    transition: 0.3s ease;
}

.footer .others a:hover {
    transform: scale(1.2);
    background: var(--light-bg-color);
    color: var(--light-main-color);
}

.footer .copyright {
    color: var(--light-bg-color);
    margin-top: 50px;
    font-size: 16px;
}


/* OTHER CONFIGURATION */
section {
    min-height: 90vh;
    padding: 10rem 20% 10rem;
}

.section-container {
    width: 100%;
    height: 100%;
}

span {
    color: var(--light-main-color);
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4.5rem;
    font-weight: 700;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    gap: 10px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

ion-icon {
    font-size: 2rem;
    font-weight: bold;
    color: var(--light-main-color);
    cursor: pointer;
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--light-main-color);
    box-shadow: 0 0 25px var(--light-main-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: var(--light-bg-color);
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 50px var(--light-main-color);
}

.back {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: transparent;
    box-shadow: 0 0 25px var(--light-main-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: var(--light-main-color);
    border: 2px solid var(--light-main-color);
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.back:hover {
    transform: scale(1.05);
    box-shadow: 0 0 50px var(--light-main-color);
}

.about {
    padding: 10rem 12% 10rem;
}

.mobile {
    display: none;
}

.no-mobile {
    display: block;
}

.centered {
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}

.flex {
    gap: 10px;
}

.next {
    display: block;
}

.next.active {
    display: none;
}

.back, .send {
    display: none;
}

.back.active, .send.active {
    display: block;
}


/* SCROLL BAR CONFIGURATION */
::-webkit-scrollbar {
    width: 12px;
    background: rgb(230, 213, 213);
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

::-webkit-scrollbar {
    opacity: 100;
}